html,
body,
header,
.sample {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
}
input[type="button"] {
  height: 22px;
  width: auto;
  margin-left: 5px;
  border-width: 1px;
  border-color: #a9a9a9;
  border-radius: 0px;
  font-size: 12px;
}
.func_wrapper {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  overflow: hidden;
  padding: 5px 10px 5px 10px;
}
.func_title {
  font-size: 18px;
}
.button_wrapper {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  overflow: hidden;
  text-align: right;
  font-size: 0;
}
#map_area {
  float: right;
  height: 100%;
  flex: 1;
}
#text_area {
  float: left;
  width: 350px;
  background-color: #ffffff;
}
#latlng_input {
  box-sizing: border-box;
  float: left;
  height: 20px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
  border-width: 1px;
  border-color: #a9a9a9;
  font-size: 11px;
  font-family: sans-serif;
}
#table_header {
  display: flex;
  align-items: flex-end;
}
#select_hyphen {
  height: 22px;
  border-radius: 0px;
  font-size: 13px;
}
#table_wrapper {
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
}
#list_table {
  width: 330px;
  /* max-height: 10px; */
  overflow-y: scroll;
  margin: 5px 0px 0px 0px;
  padding: 0;
  border-collapse: collapse;
  border: 1px solid #c0c0c0;
  font-size: 11px;
  font-family: sans-serif;
}
#selected_mesh_count{
  font-size: 9px;
}
.list_table tr,
td {
  width: 100%;
}
#list_table tr {
  height: 22px;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}
#list_table tr:nth-child(even) {
  background: #ffffff;
}
.leaflet-tooltip_base {
  border: 0px;
  box-shadow: 0 0 0 0;
  background-color: transparent;
  font-family: sans-serif;
  color: #ff0000;
}
.leaflet-tooltip_mouseon {
  border: 0px;
  box-shadow: 0 0 0 0;
  background-color: transparent;
  font-family: sans-serif;
  font-weight: bold;
  color: #ff0000;
}